%body
  =render partial: "groups/LeftContents"
.RightContents
  .RightContents__Top
    .RightContents__Top--Edit--Self
      Edit
    %span.RightContents__Top--word1
      = @group.name
    %span.RightContents__Top--word2
      member:
      -@group.users.each do |member|
        = member.name
  .RightContents__Bottom
    - @messages.each do |message|
      .RightContents__Bottom--word
        %span.RightContents__Bottom--word--name
          = message.user.name
        %span.RightContents__Bottom--word--time
          = message.created_at
        -if message.image.present?
          %span.RightContents__Bottom--word--pic
            = image_tag message.image, alt:"picture", height: "50", width: "50"
        -if message.body.present?
          %span.RightContents__Bottom--word--text
            = message.body
  .RightContents__Bottom--Mbox
    = form_for [@group, @message], html: {id: "new_message"} do |f|
      =f.text_field :body, placeholder: "type a message", type: "text", class:"RightContents__Bottom--Mbox--inputword"
      =f.submit "data-disable-with":"Wait", class:"RightContents__Bottom--Mbox--Send", value:"Send"
      =f.label :image do
        %i.fa.fa-picture-o
          =f.file_field :image, class:"RightContents__Bottom--Mbox--Awesome"
